---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<h2>Publications</h2>
<ul>
  <li><strong><a href="https://arxiv.org/abs/2406.17109">GMT: Guided Mask Transformer for Leaf Instance Segmentation
</a></strong>, Author 1, Author 2, <em>Conference Name, Year</em>.</li>
  <li><strong><a href="link-to-paper">Paper Title 2</a></strong>, Author 1, Author 2, <em>Journal Name, Year</em>.</li>
  <li><strong><a href="link-to-paper">Paper Title 3</a></strong>, Author 1, Author 2, <em>Workshop Name, Year</em>.</li>
</ul>





