---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<h2>Publications</h2>
<hr />

<ul>
  <li>
    <strong><a href="https://cvppa2024.github.io/assets/pdf/17.pdf">PhenoGPT: Towards Language Interaction with Vision Models for Plant Phenotyping</a></strong>, 
    Feng Chen, Sotirios A. Tsaftaris, Mario Valerio Giuffrida, 
    <em>ECCV Computer Vision in Plant Phenotyping and Agriculture Workshop (CVPPA)</em>, 2024.
  </li>
</ul>

<ul>
  <li>
    <strong><a href="https://arxiv.org/abs/2406.17109">GMT: Guided Mask Transformer for Leaf Instance Segmentation</a></strong>, 
    Feng Chen, Sotirios A. Tsaftaris, Mario Valerio Giuffrida, 
    <em>IEEE/CVF Winter Conference on Applications of Computer Vision (WACV)</em>, 2025 (Oral Presentation).
  </li>
</ul>

<ul>
  <li>
    <strong><a href="https://openaccess.thecvf.com/content/ICCV2023W/CVPPA/papers/Chen_Adapting_Vision_Foundation_Models_for_Plant_Phenotyping_ICCVW_2023_paper.pdf">Adapting Vision Foundation Models for Plant Phenotyping</a></strong>, 
    Feng Chen, Mario Valerio Giuffrida, Sotirios A. Tsaftaris, 
    <em>IEEE/CVF International Conference on Computer Vision (ICCV) Workshops</em>, pp. 604–613, 2023.
  </li>
</ul>

<!--   <li>
    <strong><a href="ADD_URL_HERE">Learning with Fewer Labels in Deep Learning for Plant Phenotyping</a></strong>, 
    Feng Chen, 
    <em>PhD Thesis, University of Nottingham</em>, 2022.
  </li> -->

<ul>
  <li>
    <strong><a href="https://openaccess.thecvf.com/content/ICCV2021W/ILDAV/papers/Chen_Learning_to_Localise_and_Count_With_Incomplete_Dot-Annotations_ICCVW_2021_paper.pdf">Learning to Localise and Count With Incomplete Dot-Annotations</a></strong>, 
    Feng Chen, Michael P. Pound, Andrew P. French, 
    <em>IEEE/CVF International Conference on Computer Vision (ICCV) Workshops</em>, pp. 1612–1620, 2021.
  </li>
</ul>

<ul>
  <li>
    <strong><a href="https://www.plant-phenotyping.org/lw_resource/datapool/systemfiles/elements/files/88643099-7552-11e9-b1c5-dead53a91d31/current/document/ChenCVPPP2019.pdf">Using Active Learning to Reduce Training Data in Deep-Learning-Based Flower Classification</a></strong>, 
    Feng Chen, Tony Pridmore, Andrew French, 
    <em>CVPR Computer Vision Problems in Plant Phenotyping Workshop (CVPPP)</em>, 2019.
  </li>
</ul>

<ul>
  <li>
    <strong><a href="http://bmvc2018.org/contents/workshops/cvppp2018/0023.pdf">Towards Low-Cost Image-Based Plant Phenotyping Using Reduced-Parameter CNN</a></strong>, 
    John Atanbori, Feng Chen, Andrew P. French, Tony Pridmore, 
    <em>British Machine Vision Conference (BMVC) Workshops</em>, 2018.
  </li>
</ul>

<ul>
    <li>
    <strong><a href="https://link.springer.com/article/10.1186/s13007-018-0278-7">Citizen Crowds and Experts: Observer Variability in Image-Based Plant Phenotyping</a></strong>, 
    M. Valerio Giuffrida, Feng Chen, Hanno Scharr, Sotirios A. Tsaftaris, 
    <em>Plant Methods</em>, Vol. 14, pp. 1–14, 2018.
  </li>
</ul>






