---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<h2>Publications</h2>
<hr />

<ul>

  <li>
    <strong><a href="https://www.nature.com/articles/s41467-026-71090-y">A Conversational Multi-Agent AI System for Automated Plant Phenotyping</a></strong><br />
    Feng Chen, Ilias Stogiannidis, Andrew Wood, Danilo Bueno, Dominic Williams, Fraser Macfarlane, Bruce D. Grieve, Darren Wells, Jonathan A. Atkinson, Malcolm J. Hawkesford, Stephen A. Rolfe, Tracy Lawson, Tony Pridmore, Sotirios A. Tsaftaris, Mario Valerio Giuffrida<br />
    <em>Nature Communications</em>, 2026
  </li>

  <li>
    <strong><a href="https://arxiv.org/abs/2509.03170">Count2Density: Crowd Density Estimation without Location-level Annotations</a></strong><br />
    Mattia Litrico, Feng Chen, Michael Pound, Sotirios A. Tsaftaris, Sebastiano Battiato, Mario Valerio Giuffrida<br />
    <em>Pattern Recognition</em>, 2026
  </li>

  <li>
    <strong><a href="https://arxiv.org/abs/2406.17109">GMT: Guided Mask Transformer for Leaf Instance Segmentation</a></strong><br />
    Feng Chen, Sotirios A. Tsaftaris, Mario Valerio Giuffrida<br />
    <em>Winter Conference on Applications of Computer Vision (WACV)</em>, 2025 (Oral Presentation)
  </li>

  <li>
    <strong><a href="https://arxiv.org/abs/2602.12004">CSEval: A Framework for Evaluating Clinical Semantics in Text-to-Image Generation</a></strong><br />
    Robert Cronshaw, Konstantinos Vilouras, Junyu Yan, Yuning Du, Feng Chen, Steven McDonagh, Sotirios A. Tsaftaris<br />
    <em>International Symposium on Biomedical Imaging (ISBI)</em>, 2026
  </li>

  <li>
    <strong><a href="https://arxiv.org/abs/2503.14232">CRCE: Coreference-Retention Concept Erasure in Text-to-Image Diffusion Models</a></strong><br />
    Yuyang Xue, Edward Moroshko, Feng Chen, Steven McDonagh, Sotirios A. Tsaftaris<br />
    <em>The British Machine Vision Conference (BMVC)</em>, 2025
  </li>
  
  <li>
    <strong><a href="https://www.melba-journal.org/papers/2025:015.html">SWiFT: Soft-Mask Weight Fine-tuning for Bias Mitigation</a></strong><br />
    Junyu Yan, Feng Chen, Yuyang Xue, Yuning Du, Konstantinos Vilouras, Sotirios A. Tsaftaris, Steven McDonagh<br />
    <em>Machine Learning for Biomedical Imaging (MELBA)</em>, 2025
  </li>
  
  <li>
    <strong><a href="https://openaccess.thecvf.com/content/ICCV2023W/CVPPA/papers/Chen_Adapting_Vision_Foundation_Models_for_Plant_Phenotyping_ICCVW_2023_paper.pdf">Adapting Vision Foundation Models for Plant Phenotyping</a></strong><br />
    Feng Chen, Mario Valerio Giuffrida, Sotirios A. Tsaftaris<br />
    <em>International Conference on Computer Vision Workshops (ICCVW)</em>, 2023
  </li>

  <li>
    <strong><a href="https://openaccess.thecvf.com/content/ICCV2021W/ILDAV/papers/Chen_Learning_to_Localise_and_Count_With_Incomplete_Dot-Annotations_ICCVW_2021_paper.pdf">Learning to Localise and Count with Incomplete Dot-annotations</a></strong><br />
    Feng Chen, Michael Pound, Andrew P. French<br />
    <em>ICCVW</em>, 2021
  </li>
  
  <li>
    <strong><a href="https://plantmethods.biomedcentral.com/articles/10.1186/s13007-018-0278-7">Citizen Crowds and Experts: Observer Variability in Image-based Plant Phenotyping</a></strong><br />
    Mario Valerio Giuffrida, Feng Chen, Hanno Scharr, Sotirios A. Tsaftaris<br />
    <em>Plant Methods</em>, 2018
  </li>

  <li>
    <strong><a href="http://bmvc2018.org/contents/workshops/cvppp2018/0023.pdf">Towards Low-cost Image-based Plant Phenotyping Using Reduced-parameter CNN</a></strong><br />
    John Atanbori, Feng Chen, Andrew P. French, Tony Pridmore<br />
    <em>The British Machine Vision Conference Workshops (BMVCW)</em>, 2018
  </li>

</ul>






