---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

<!-- {% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %} -->

<ul>
  <li>
    <strong>(Keynote Speaker) <a href="ADD_URL_HERE">AI for Efficient and Accessible Plant Phenotyping</a></strong>, 
    PhenomUK & AIBIO-UK Joint Workshop, University of Nottingham, December 2024.
  </li>
  
  <li>
    <strong><a href="ADD_URL_HERE">Accelerating Plant Phenotyping with AI</a></strong>, 
    UK Plant Phenomics Conference, University of Warwick, September 2024.
  </li>

  <li>
    <strong><a href="ADD_URL_HERE">Retrieval-Augmented Generation: A Promising Approach to Enhance Fairness and Transparency in the Use of Large Language Models for Agriculture</a></strong>, 
    PhenoHarmonIS Workshop, Institut Agro (France), May 2024.
  </li>

  <li>
    <strong><a href="ADD_URL_HERE">Adapting Vision Foundation Models for Plant Phenotyping</a></strong>, 
    University of Warwick, September 2023.
  </li>

  <li>
    <strong><a href="ADD_URL_HERE">Citizen Scientists and Machine Learning to Help Feed the World</a></strong>, 
    University of Oxford, April 2018.
  </li>
</ul>

