---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<!-- {% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->

<ul>
  <li>
    <strong>Machine Learning</a></strong>, Undergraduate/Postgraduate, University of Nottingham, 2018.
  </li>
  
  <li>
    <strong>Fundamental of Artificial Intelligence</a></strong>, Undergraduate, University of Nottingham, 2019.
  </li>

  <li>
    <strong>Computer Vision</a></strong>, Undergraduate/Postgraduate, University of Nottingham, 2021.
  </li>
</ul>

<h2>Supervision</h2>
<hr />

<ul>
  <li>
    <strong>Ms. Ziyu Huang</strong>, MSc Thesis: <em>Active Learning: Towards Data Efficient Deep Learning</em>, University of Edinburgh, 2023 - 2024.
  </li>
  <li>
    <strong>Mr. Jingyu Sun</strong>, Research Intern: <em>Self-supervised Pre-training for Agricultural Foundation Models</em>, University of Edinburgh, 2024.
  </li>
</ul>
