---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<!-- {% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->

<ul>
  <li>
    <strong>Machine Learning</a></strong>, Undergraduate/Postgraduate, University of Nottingham, 2018.
  </li>
  
  <li>
    <strong>Fundamental of Artificial Intelligence</a></strong>, Undergraduate, University of Nottingham, 2019.
  </li>

  <li>
    <strong>Computer Vision</a></strong>, Undergraduate/Postgraduate, University of Nottingham, 2021.
  </li>
</ul>
